$dark-primary-text: #000;
$light-primary-text: #FFF;

$primary: (
  50 : #f1edfc,
  100 : #dcd2f6,
  200 : #c4b5f1,
  300 : #ac97eb,
  400 : #9b80e6,
  500 : #896ae2,
  600 : #8162df,
  700 : #7657da,
  800 : #6c4dd6,
  900 : #593ccf,
  A100 : $light-primary-text,
  A200 : #ede9ff,
  A400 : #c3b6ff,
  A700 : #af9cff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$secondary: (
  50 : #e6e6e7,
  100 : #c1c0c3,
  200 : #98969b,
  300 : #6f6c72,
  400 : #504d54,
  500 : #312d36,
  600 : #2c2830,
  700 : #252229,
  800 : #1f1c22,
  900 : #131116,
  A100 : #ad5cff,
  A200 : #9429ff,
  A400 : #7a00f5,
  A700 : #6e00db,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $light-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $light-primary-text,
    A200 : $light-primary-text,
    A400 : $light-primary-text,
    A700 : $light-primary-text,
  )
);

$warn: (
  50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f65f54,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: $light-primary-text,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
